<h1 class="text-blue-700 font-bold text-3xl text-center mb-20 mt-20 tracking-wide">LISTING ALL ARTICLES</h1>
<div class="flickr_pagination">
	<%= will_paginate @articles, :container => false %>
</div>
<%= render 'article' %>

<div class="flickr_pagination">
	<%= will_paginate @articles, :container => false %>
</div>