<div class="container h-[91vh] m-auto" id="home-container">
  <div class="bg-homepage h-full w-full bg-no-repeat bg-cover bg-center m-auto">
		<h1 class="text-center font-extrabold text-4xl pt-12 tracking-wider mb-5">Alpha Blog</h1>
		<p class="text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
		
		<div class="m-auto text-center mt-10">
			<%= link_to "Sign up!", signup_path, class: "inline-block px-6 py-4 bg-blue-500 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-yellow-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out hover:text-white" %>
		</div>
  </div>
</div>