<h1 class="text-center mt-20 text-blue-600 font-extrabold text-4xl mb-20">Category: <%= @category.name %></h1>

<% if logged_in? &&  current_user.admin? %>
	<div class="text-center mt-4 border-2 border-blue-500/100 w-60 m-auto hover:bg-blue-500 hover:text-white pt-2 pb-2">
		<%= link_to "EDIT CATEGORY NAME", edit_category_path(@category), class: "btn btn-outline-info" %>
	</div>
<% end %>

<% if @articles.count > 0 %>
<h3 class="text-center mt-4 text-blue-600 font-bold text-2xl mb-6"><%= @user.username%>'s Articles</h3>
<%= render 'articles/article' %>
<% else %>
<h3 class="text-center mt-4">No Articles</h3>
<% end %>