<div class="z-30 absolute w-screen">
<% flash.each do |name, msg| %>
	<div class="py-2 px-2" role="alert" style="color:#fff;background-color:<%= name == "notice" ? "#3EE4AA" : "#e43e78" %>">
		<div class="flex">
			<div>
				<p class="font-bold uppercase"><%= msg %></p>
			</div>
		</div>
	</div>
<% end %> 
</div>
		